<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极云天下 - <?php echo $system['seotitle'];?></title>
     <base href="<?php echo base_url('public/');?>" target=""> 

    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/home/home.min.css?v=4392"/> -->
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="home/css/main.css" rel="stylesheet"> -->
    <link href="home/css/index.css" rel="stylesheet">
    <link href="home/css/articleDetails.css" rel="stylesheet">
    <link href="home/css/chanping.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="hom/js/html5shiv.js"></script>
    <script src="hom/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default">
        <!-- 导航 -->
        <?php $this->load->view('header.html');?>
        <!-- 导航 结束-->
    </nav>

    <div class="container dadaikuan">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <img src="home/img/image001.jpg">
            </div>
            <div class="col-md-6 col-xs-6">
                <p style="width: 80%;line-height: 1.8">
                    极云天下与四川省内以及部分国内的各大运营商均有良好的合作关系，可以提供多个机房的大带宽出租业务，多年来为国内知名游戏厂商，视频网站，IDC同行提供了优质的大带宽服务．保证提供的带宽质量和机房质量以及价格具有绝对优势！
                </p>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6 col-xs-6 ppp1">
                <p class="ppp1">
                    <h3>服务内容</h3> 
                    稳定的网络环境，网络99.99%持续供应率 <br>
                    完善的辅助设施，电力99.99%持续供应率<br>
                    多年运营维护经验，提供高效运维服务<br>
                    免费监控巡检<br>
                    免费系统安全检查<br>
                    7*24小时技术支持<br>
                    故障处理5分钟快速响应
                </p>
            </div>
            <div class="col-md-6 col-xs-6">
                <img src="home/img/image002.jpg">
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <img src="home/img/image003.jpg">
            </div>
            <div class="col-md-6 col-xs-6 ppp1">
                成都移动大带宽G口、万兆 <br>
                成都电信大带宽G口、万兆<br>
                成都联通大带宽G口、万兆<br>
                四川各地市电信大带宽G口、万兆<br>
                部分省外大带宽G口、万兆<br>
                                        <br>
                详情请咨询客服！

            </div>
        </div>                  

    </div>
   