<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极云天下 - <?php echo $system['seotitle'];?></title>
     <base href="<?php echo base_url('public/');?>" target=""> 

    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/home/home.min.css?v=4392"/> -->
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="home/css/main.css" rel="stylesheet"> -->
    <link href="home/css/index.css" rel="stylesheet">
    <link href="home/css/articleDetails.css" rel="stylesheet">
    <link href="home/css/chanping.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="hom/js/html5shiv.js"></script>
    <script src="hom/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo site_url('/');?>"><img src="<?php echo base_url().$system['logo'];?>" alt=""></a>
        </div>

<!-- 导航 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="<?php echo site_url('/');?>#price">产品</a></li> -->
            <li ><a href="<?php echo site_url('/');?>">首页</a></li>
            <li class="dropdown navidc">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    IDC产品<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/tuoguan');?>">服务器托管</a></li>
                    <li><a href="<?php echo site_url('Welcome/zuyong');?>">服务器租用</a></li>
                    <li><a href="<?php echo site_url('Welcome/jigui');?>">机柜租赁</a></li>
                    <li><a href="<?php echo site_url('Welcome/dakuandai');?>">大带宽业务</a></li>
                </ul>
            </li>
            <li class="dropdown navyun">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    云服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">腾讯云</a></li>
                </ul>
            </li>
            <li class="dropdown navhaiwai">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    海外服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">美国服务器</a></li>
                    <li><a href="#">香港服务器</a></li>
                    <li><a href="#">韩国服务器</a></li>
                    <li><a href="#">日本服务器</a></li>
                    <li><a href="#">新加坡服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navgaofang">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    高防服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">DDOS高防IP</a></li>
                    <li><a href="#">高防服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navshuju">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    数据中心<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/dataDetail0');?>">温江多线数据中心</a></li>
                    <li><a href="#">中国西部数据中心</a></li>
                    <li><a href="#">二枢纽数据中心</a></li>
                    <li><a href="#">光华电信数据中心</a></li>
                    <li><a href="#">万达数据中心</a></li>
                    <li><a href="#">香港数据中心</a></li>
                    <li><a href="#">美国数据中心</a></li>
                </ul>
            </li>
            <li class="dropdown navfuwu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    服务支持<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">运维服务</a></li>
                    <li><a href="#">免费备案</a></li>
                    <li><a href="#">技术支持</a></li>
                </ul>
            </li>
            <li class="dropdown navwomen">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    关于我们<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/about');?>#jianjie">公司简介</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>">客服案例</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>">极云团队</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#women">联系我们</a></li>
                </ul>
            </li>

            <!-- <li ><a href="<?php echo site_url('/');?>#programme">解决方案</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#case">案例</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#dynamic">最新动态</a></li> -->

          </ul>
        </div>
        <!-- 导航 结束-->
      </div>
    </nav>

    <div class="container">
        <div class="itemC">
            <h3>温江多线数据中心机房</h3>
            <p class="Cjianjie">温江中立数据中心机房为电信4星级机房，双路市电接入，总建筑面积4500平米，提供电信/联通/移动多线路接入，拥有电信40G、联通5G、移动5G出口带宽，为党政、金融、游戏、新闻媒体、房地产、IT互联网等用户提供互联网基础接入服务。</p>
            <ul>
                <li>
                    <img src="home/img/jifang (1).JPG">
                </li>
                <li><img src="home/img/jifang (2).JPG"></li>
                <li><img src="home/img/jifang (3).JPG"></li>
            </ul>
            <table>
                <tr>
                    <td>机位</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>1U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>4500元/年</td>
                </tr>
                <tr>
                    <td>2U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>5500元/年</td>
                </tr>
                <tr>
                    <td>整柜（48U/13A）</td>
                    <td>16个</td>
                    <td>7*24小时</td>
                    <td>65000元/年</td>
                </tr>
                <tr>
                    <td>带宽</td>
                    <td></td>
                    <td></td>
                    <td>40元/M/月（三线）</td>
                </tr>
            </table>
        </div>

        <div class="itemC">
            <h3>中国西部信息中心机房</h3>
            <p class="Cjianjie">中国西部信息中心为电信五星级IDC机房，总建筑面积3万余平米，提供电信线路单线接入，拥有1900G电信出口带宽，西部信息中心是中国电信的数 据灾备中心、信息安全中心、云计算中心；是中国电信规模最大、 标准最高的五大数据中心之一。</p>
            <ul>
                <li>
                    <img src="home/img/jifang (4).JPG">
                </li>
                <li><img src="home/img/jifang (5).JPG"></li>
            </ul>
            <table>
                <tr>
                    <td>机位</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>1U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>5000元/年</td>
                </tr>
                <tr>
                    <td>2U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>6000元/年</td>
                </tr>
                <tr>
                    <td>整柜（48U/13A）</td>
                    <td>16个</td>
                    <td>7*24小时</td>
                    <td>70000元/年</td>
                </tr>
                <tr>
                    <td>带宽</td>
                    <td></td>
                    <td></td>
                    <td>30元/M/月</td>
                </tr>
            </table>
        </div>

        <div class="itemC">
            <h3>中国电信成都枢纽中心（二枢纽机房）</h3>
            <p class="Cjianjie" style="margin-bottom: 30px">中国电信成都枢纽中心为电信5星级IDC机房，总建筑面积9000余平米，提供电信线路单线接入，总电信出口带宽1000G，为政府机关、教育、大中小型企业单位、金融证券公司、大型ICP运营商、游戏运营商及各种不同建网目的用户提供互联网基础接入服务。</p>
            
            <table>
                <tr>
                    <td>机位</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>1U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>4800元/年</td>
                </tr>
                <tr>
                    <td>2U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>5800元/年</td>
                </tr>
                <tr>
                    <td>整柜（48U/13A）</td>
                    <td>16个</td>
                    <td>7*24小时</td>
                    <td>65000元/年</td>
                </tr>
                <tr>
                    <td>带宽</td>
                    <td></td>
                    <td></td>
                    <td>25元/M/月</td>
                </tr>
            </table>
        </div>

        <div class="itemC">
            <h3>四川电信光华数据中心（光华机房）</h3>
            <p class="Cjianjie" style="margin-bottom: 30px">四川电信光华数据中心为电信四星级IDC机房，总建筑面积2400平米，提供电信线路单线接入，总电信出口带宽400G，为多家大型互联网企业提供互联网基础接入服务，主要客户包括腾讯、上海帝联、上海网宿、PPS等。</p>
            
            <table>
                <tr>
                    <td>机位</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>1U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>4200元/年</td>
                </tr>
                <tr>
                    <td>2U</td>
                    <td>1个</td>
                    <td>7*24小时</td>
                    <td>5200元/年</td>
                </tr>
                <tr>
                    <td>整柜（48U/13A）</td>
                    <td>16个</td>
                    <td>7*24小时</td>
                    <td>60000元/年</td>
                </tr>
                <tr>
                    <td>带宽</td>
                    <td></td>
                    <td></td>
                    <td>25元/M/月</td>
                </tr>
            </table>
        </div>

    </div>
   