<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极云天下 - <?php echo $system['seotitle'];?></title>
     <base href="<?php echo base_url('public/');?>" target=""> 

    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/home/home.min.css?v=4392"/> -->
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="home/css/main.css" rel="stylesheet"> -->
    <link href="home/css/index.css" rel="stylesheet">
    <link href="home/css/articleDetails.css" rel="stylesheet">
    <link href="home/css/chanping.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="hom/js/html5shiv.js"></script>
    <script src="hom/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo site_url('/');?>"><img src="<?php echo base_url().$system['logo'];?>" alt=""></a>
        </div>

<!-- 导航 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="<?php echo site_url('/');?>#price">产品</a></li> -->
            <li ><a href="<?php echo site_url('/');?>">首页</a></li>
            <li class="dropdown navidc">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    IDC产品<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/tuoguan');?>">服务器托管</a></li>
                    <li><a href="<?php echo site_url('Welcome/zuyong');?>">服务器租用</a></li>
                    <li><a href="<?php echo site_url('Welcome/jigui');?>">机柜租赁</a></li>
                    <li><a href="<?php echo site_url('Welcome/dakuandai');?>">大带宽业务</a></li>
                </ul>
            </li>
            <li class="dropdown navyun">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    云服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a>腾讯云</a></li>
                </ul>
            </li>
            <li class="dropdown navhaiwai">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    海外服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">美国服务器</a></li>
                    <li><a href="#">香港服务器</a></li>
                    <li><a href="#">韩国服务器</a></li>
                    <li><a href="#">日本服务器</a></li>
                    <li><a href="#">新加坡服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navgaofang">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    高防服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">DDOS高防IP</a></li>
                    <li><a href="#">高防服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navshuju">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    数据中心<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/dataDetail0');?>">温江多线数据中心</a></li>
                    <li><a href="#">中国西部数据中心</a></li>
                    <li><a href="#">二枢纽数据中心</a></li>
                    <li><a href="#">光华电信数据中心</a></li>
                    <li><a href="#">万达数据中心</a></li>
                    <li><a href="#">香港数据中心</a></li>
                    <li><a href="#">美国数据中心</a></li>
                </ul>
            </li>
            <li class="dropdown navfuwu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    服务支持<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/yunwei');?>">运维服务</a></li>
                    <li><a href="<?php echo site_url('Welcome/beian');?>">免费备案</a></li>
                    <li><a href="<?php echo site_url('Welcome/jishu');?>">技术支持</a></li>
                </ul>
            </li>
            <li class="dropdown navwomen">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    关于我们<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/about');?>#jianjie">公司简介</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#wenhua">公司文化</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#lilian">经营理念</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#women">联系我们</a></li>
                </ul>
            </li>

            <!-- <li ><a href="<?php echo site_url('/');?>#programme">解决方案</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#case">案例</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#dynamic">最新动态</a></li> -->

          </ul>
        </div>
        <!-- 导航 结束-->
      </div>
    </nav>

    <div class="container">
        <div class="jigui1">
            <h3>机柜租用</h3>
            <p>随着社会经济的不断发展，企业用户也越来越重视自身的数据安全以及系统平台的稳定性。</p>
            <p>成都极云天下科技有限公司为不同类型的企业客户提供数据中心机柜租赁服务，我司拥有温江多线IDC机房、中国西部信息中心、温江光华电信机房、二枢纽机房、万达数据中心等。</p>

            <p>>>  48U机柜， 标配13A电流 ，电量可根据用户要求增加 ，1U可放设备18-20台 2U设备可放12-15台</p>
            <p>>>  42U机柜，标配10A电流 ，电量可根据用户要求增加 ，1U可放设备12-15台 2U设备可放10-12台</p>
        </div>
        <div style="overflow: hidden;">
           <div class="jigui2">
               <img src="home/img/ji1.png">
               <h4>温江光华机房</h4>
               <p>机柜：42U/10A</p>
               <p>价格：面议</p>
           </div> 
           <div class="jigui2">
               <img src="home/img/ji2.jpg">
               <h4>万达数据中心</h4>
               <p>机柜：42U/10A</p>
               <p>价格：面议</p>
           </div> 
           <div class="jigui2">
               <img src="home/img/ji3.jpg">
               <h4>二枢纽机房</h4>
               <p>机柜：42U/10A</p>
               <p>价格：面议</p>
           </div>
           <div class="jigui2" style="margin-top: -41%;">
               <img src="home/img/ji4.jpg">
               <h4>中国西部信息中心</h4>
               <p>机柜：42U/10A</p>
               <p>价格：面议</p>
           </div>
           <div class="jigui2">
               <img src="home/img/ji5.jpg">
               <h4>温江中立数据中心</h4>
               <p>机柜：48U/13A，电量可加/可改电</p>
               <p>价格：面议</p>
           </div>
        </div>
    </div>
   