<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极云天下 - <?php echo $system['seotitle'];?></title>
     <base href="<?php echo base_url('public/');?>" target=""> 

    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/home/home.min.css?v=4392"/> -->
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="home/css/main.css" rel="stylesheet"> -->
    <link href="home/css/index.css" rel="stylesheet">
    <link href="home/css/articleDetails.css" rel="stylesheet">
    <link href="home/css/chanping.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="hom/js/html5shiv.js"></script>
    <script src="hom/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default">
        <!-- 导航 -->
        <?php $this->load->view('header.html');?>
        <!-- 导航 结束-->
    </nav>

    <div class="container">
        <div style="overflow: hidden;" class="disnone">
            <div class="zuyongDiv">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505652385215&di=d592f9c0bf29ccbed4a769f817935113&imgtype=0&src=http%3A%2F%2Fshop.11665.com%2Fimg04_p%2Fi4%2FT1xEtEXiVbXXbtTV.2_042800.jpg">
                <h3>配置一： 惠普独立服务器</h3>
                <p>CPU：inter Xeon  4核处理器 </p>
                <p>内存：8GB</p>
                <p>硬盘：SAS硬盘 500G</p>
                <p>带宽：单线/多线  </p>
                <p>公网IP：1个 </p>
                <p> <b>480</b>/月起</p>
            </div>
            <div class="zuyongDiv">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505652385215&di=d592f9c0bf29ccbed4a769f817935113&imgtype=0&src=http%3A%2F%2Fshop.11665.com%2Fimg04_p%2Fi4%2FT1xEtEXiVbXXbtTV.2_042800.jpg">
                <h3>配置二：惠普独立服务器</h3>
                <p>CPU：inter Xeon  8核处理器</p>
                <p>内存：8GB </p>
                <p>硬盘：SAS硬盘 500G</p>
                <p>带宽：单线/多线</p>
                <p>公网IP：1个 </p>
                <p> <b>580</b>/月起</p>
            </div>
        </div> 
        <div>
            <table class="zutongT disnone">
                <tr>
                    <td>拓展类型</td>
                    <td>单价（月/每块、条、个、兆）</td>
                </tr>
                <tr>
                    <td>增加 8G内存条</td>
                    <td class="active">50元/条/月</td>
                </tr>
                <tr>
                    <td>增加 1T硬盘</td>
                    <td class="active">50元/块/月</td>
                </tr>
                <tr>
                    <td>独立外网IP</td>
                    <td class="active">50元/个/月</td>
                </tr>
                <tr>
                    <td>独享带宽</td>
                    <td class="active">25元/兆/月</td>
                </tr>
            </table>
        </div> 


        <!-- 新的 -->
        <div class="row zuyonjia zuyonjia0">
            <h4 class="shujuti shujutiEr3">机房介绍</h4>
            <div class="col-md-4">
                <img src="home/img/ji5.jpg">
            </div>
            <div class="col-md-8">
                温江中立数据中心位于成都温江海峡两岸科技产业开发园温泉大道，其地理位置优越、交通便利，距离市中心约 20KM，距离双流机场约30KM，机房远离强噪声源、粉尘、油烟、有害气体，避开强电磁场干扰。，拥有 40G 电信、 5G 联通带宽资源，总机柜数量 360 个，可承载服务器 5500 余台。中立数据IDC机房向客户提供优质的多运营商带宽接入服务、服务器及网络设备托管服务、主机租用服务、CDN、云计算服务、数据容灾备份服务等。
            </div>
        </div>
        <div class="row zuyonjia zuyonjia0">
            <h4 class="shujuti shujutiEr3">可选机型</h4>
            <table border="1">
                <tr>
                    <td>CPU</td>
                    <td>内存</td>
                    <td>硬盘</td>
                    <td>带宽</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>内存</td>
                    <td>硬盘</td>
                    <td>带宽</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>内存</td>
                    <td>硬盘</td>
                    <td>带宽</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>CPU</td>
                    <td>内存</td>
                    <td>硬盘</td>
                    <td>带宽</td>
                    <td>IP</td>
                    <td>服务</td>
                    <td>价格</td>
                </tr>
            </table>
        </div>

        <div class="row zuyonjia zuyonjia2">
            <h4 class="shujuti shujutiEr3">增值服务</h4>
            <div>
                <h5>带宽</h5>
                <table border="1">
                    <tr>
                        <td>增加10M独享带宽</td>
                        <td>***</td>
                    </tr>
                    <tr>
                        <td>增加20M独享带宽</td>
                        <td>***</td>
                    </tr>
                    <tr>
                        <td>增加100M独享带宽</td>
                        <td>面议</td>
                    </tr>
                </table>
            </div>
            <div>
                <h5>硬盘</h5>
                <table border="1">
                    <tr>
                        <td>增加1T硬盘</td>
                        <td>***</td>
                    </tr>
                    <tr>
                        <td>增加2T硬盘</td>
                        <td>***</td>
                    </tr>
                    <tr>
                        <td>增加4T硬盘</td>
                        <td>面议</td>
                    </tr>
                </table>
            </div>
             <div>
                <h5>IP</h5>
                <table border="1">
                    <tr>
                        <td>增加IP</td>
                        <td>600元/个/年</td>
                    </tr>
                </table>
            </div>
            <div>
                <h5>操作系统</h5>
                <table border="1">
                    <tr>
                        <td>Centos6/7</td>
                        <td>免费</td>
                    </tr>
                    <tr>
                        <td>Windos系统</td>
                        <td>免费</td>
                    </tr>
                    <tr>
                        <td>开源linux系统</td>
                        <td>免费</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>    
   