<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于我们</title>
    <base href="<?php echo base_url('public/');?>">
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <link href="home/css/index.css" rel="stylesheet">
    <link href="home/css/main.css" rel="stylesheet">
    <link href="home/css/about.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?php echo site_url('/');?>"><img src="<?php echo base_url().$system['logo'];?>" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="<?php echo site_url('/');?>#price">产品</a></li>
            <li><a href="<?php echo site_url('/');?>#programme">解决方案</a></li>
            <li><a href="<?php echo site_url('/');?>#case">案例</a></li>
            <li><a href="<?php echo site_url('/');?>#dynamic">最新动态</a></li>
            <li><a href="<?php echo site_url('/');?>#footer">关于我们</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 大图 -->
    <div class="bigPic">
        <div class="container">
            为了无法计算的价值
        </div>
    </div>
    <div class="width200">
        <div class="container summary">
            <h3 class="myTitle" style="text-align: center;  margin:0% 0 5% 0;padding-top: 7%">我们的<span>优势</span>
                <div>我们以行业需求切入云计算领域，化繁为简，助你轻松实现云端部署</div>
            </h3>
            <div class="row">
                <div class="col-md-4 advantage">
                    <img style="width: 11%" src="home/img/fuwuqi.svg">
                    <h2>全球化</h2>
                    <p>腾讯云在全球多个区域拥有 14 个数据中心，并成立了本地化的团队。</p>
                </div>
                <div class="col-md-4 advantage">
                    <img style="width: 11%" src="home/img/fuwuqi.svg">
                    <h2>高安全</h2>
                    <p>腾讯云提供Anti-DDoS、WAF、移动安全等全面的安全解决方案，并拥有全球多项顶级数据安全隐私认证。</p>
                </div>
                <div class="col-md-4 advantage">
                    <img style="width: 11%" src="home/img/fuwuqi.svg">
                    <h2>高性能</h2>
                    <p>腾讯云曾多次打破 Sort Benchmark 等世界计算性能测试纪录。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container Real sceneDiv">
        <h3 class="myTitle" id="jifang" style="text-align: center;  margin:0% 0 5% 0;padding-top: 7%">机房实景</h3>
        <div class="row">
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>

            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
            <div class="col-md-3"><img class="sceneImg" src="home/img/jifang.png"></div>
        </div>
    </div>
    <div class="container Introduction">
        <h3 class="myTitle" id="knowME" style="text-align: center;  margin:0% 0 5% 0;padding-top: 7%">了解我们</h3>
        <div class="row">
            <div class="col-md-8">
                <h5>公司简介</h5>
                <p class="IntroductionP">成都极云科技有限公司，成立于2016年3月，是一家专注于互联网、IDC服务、技术研发和机房监控，为客户提供业界领先的互联网基础服务，并通过旗下优质的互联网数据中心资源（中国西部信息中心、中国电信成都枢纽中心和四川电信数据中心）帮助企业全面提升其互联网基础设施的性能、可用性和安全性，全面助力互联网业务的开展。</p>
                <p class="IntroductionP">公司具有国家信息产业部颁发的增值电信业务经营许可证（ISP资质），拥有专业的营销策划队伍、资深的技术团队和强大的服务力量，一直致力于为广大企事业单位和机构组织提供全方位的整体信息化解决方案，利用各种领先的产品和服务帮助客户提升整体形象、实现电子商务、扩大经济效益、提高管理效率和竞争能力。</p>
            </div>
            <div class="col-md-4 lianxi" style="padding-left: 6%;">
                 <h5 style="margin-bottom: 5.3%;">联系我们</h5>
                 <p>
                    <img src="home/img/bi.svg">极云天下
                 </p>
                 <p style="padding-left: 30px;">天府四街长虹大厦</p>
                 <p style="padding-left: 30px;">中国成都</p>
                 <p>
                    <img src="home/img/dianhua.svg">Phone: (415) 124-5678
                 </p>
                 <p>
                    <img src="home/img/youxiang.svg">website@yourname.com
                 </p>
            </div>
        </div>
    </div>
