<footer class="indexF " id="footer">
    <div class="container">
        <div class="row indexF1">
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                百倍故障赔偿
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                备案多久送多久
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                1V1大客户服务
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                7x24小时服务
            </div>
        </div>
        <div class="row indexF2">
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>产品与服务</li>

                    <li class="link"><a href="<?php echo site_url('/');?>#price">IDC服务</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">云服务器</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">海外服务器</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">安全增值服务</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>解决方案</li>

                    <li class="link"><a href="<?php echo site_url('/');?>#programme">游戏行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">视频行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">电商行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">金融行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">移动APP解决方案</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>服务支持</li>

                    <li class="link"><a href="<?php echo site_url('Welcome/yunwei');?>">运维服务</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/beian');?>">免费备案</a></li>
                    <!-- <li class="link"><a href="<?php echo site_url('Welcome/jishu');?>">技术支持</a></li> -->
                    <!-- <li class="link">招商代理</li> -->
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
               <ul>
                    <li>关于我们</li>

                    <li class="link"> <a href="<?php echo site_url('Welcome/about');?>#knowME">公司简介</a> </li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#jifang">公司文化</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#knowME">经营理念</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#knowME">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="indexF3">
            <p>
                <?php echo $system['record'];?>
            </p>
        </div>
        <div class="jaintou">
            <a id="back-to-top"><img src="home/img/jiantou.svg"></a>
        </div>
    </div>
</footer>


<script src="home/js/jquery.min.js"></script>
<script src="home/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //自动播放
    // $('.carousel').carousel({
    //   interval: 10000
    // })


    $("#back-to-top").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });
    



</script>
</body>
</html>
