<footer class="indexF " id="footer">
    <div class="container">
        <div class="row indexF1">
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                百倍故障赔偿
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                备案多久送多久
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                1V1大客户服务
            </div>
            <div class="col-md-3 col-xs-6 biaoqian">
                <img class="imgF1" src="home/img/peipic.svg">
                7x24小时服务
            </div>
        </div>
        <div class="row indexF2">
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>产品与服务</li>

                    <li class="link"><a href="<?php echo site_url('/');?>#price">IDC服务</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">云服务器</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">海外服务器</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#price">安全增值服务</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>解决方案</li>

                    <li class="link"><a href="<?php echo site_url('/');?>#programme">游戏行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">视频行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">电商行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">金融行业解决方案</a></li>
                    <li class="link"><a href="<?php echo site_url('/');?>#programme">移动APP解决方案</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
                <ul>
                    <li>服务支持</li>

                    <li class="link"><a href="<?php echo site_url('Welcome/yunwei');?>">运维服务</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/beian');?>">免费备案</a></li>
                    <!-- <li class="link"><a href="<?php echo site_url('Welcome/jishu');?>">技术支持</a></li> -->
                    <!-- <li class="link">招商代理</li> -->
                </ul>
            </div>
            <div class="col-md-3 col-xs-5">
               <ul>
                    <li>关于我们</li>

                    <li class="link"> <a href="<?php echo site_url('Welcome/about');?>#knowME">公司简介</a> </li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#jifang">公司文化</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#knowME">经营理念</a></li>
                    <li class="link"><a href="<?php echo site_url('Welcome/about');?>#knowME">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="indexF3">
            <p>
                <?php echo $system['record'];?>
            </p>
        </div>
        <div class="jaintou">
            <a id="back-to-top"><img src="home/img/jiantou.svg"></a>
        </div>
    </div>

    <!-- 企业邮箱 -->
    <!-- <style>
        .bizmail_loginpanel{font-size:12px;width:300px;height:auto;border:1px solid #cccccc;background:#ffffff;width: 550px;float: right;margin-top: -35px;margin-right: 50px;}
        .bizmail_LoginBox{padding:10px 15px;}
        .bizmail_loginpanel h3{padding-bottom:5px;margin:0 0 5px 0;border-bottom:1px solid #cccccc;font-size:14px;}
        .bizmail_loginpanel form{margin:0;padding:0;}
        .bizmail_loginpanel input.text{font-size:12px;width:100px;height:20px;margin:0 2px;border:1px solid #C3C3C3;border-color:#7C7C7C #C3C3C3 #C3C3C3 #9A9A9A;}
        .bizmail_loginpanel .bizmail_column{height:28px;}
        .bizmail_loginpanel .bizmail_column label{display:block;float:left;width:30px;height:24px;line-height:24px;font-size:12px;}
        .bizmail_loginpanel .bizmail_column .bizmail_inputArea{float:left;width:240px;}
        .bizmail_loginpanel .bizmail_column span{font-size:12px;word-wrap:break-word;margin-left: 2px;line-height:200%;}
        .bizmail_loginpanel .bizmail_SubmitArea{margin-left:30px;clear:both;}
        .bizmail_loginpanel .bizmail_SubmitArea a{font-size:12px;margin-left:5px;}
        .bizmail_loginpanel select{width:110px;height:20px;margin:0 2px;}
    </style>
    <script type="text/javascript" src="http://exmail.qq.com/zh_CN/htmledition/js_biz/outerlogin.js"  charset="gb18030"></script>
    <script type="text/javascript">
        writeLoginPanel({domainlist:"cdjiyun.com", mode:"horizontal"});
    </script> -->

    <!-- 百度商桥 -->
    <style type="text/css">
        #newBridge .icon-right-center {
            right: auto;
            top: 50%;
            left: 10px;
            bottom: auto;
            margin: -25px 0 0 0;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?064d7ac8242a0eb4a17d8f12ea3ffb54";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>


</footer>

<!-- qq客服 -->
<style type="text/css">
    .QQDiv1{position: fixed; height: 100%; display: table;top: 0px;right: 0;}
    .QQdiv2{display: table-cell;vertical-align: middle;}
    .QQdiv2 li{text-align:center;padding: 6px 14px;border-radius: 3px;margin-top: 10px;margin-top: 3px;}
    .QQdiv2 li a{color: #fff;font-size: 16px;font-size: 14px;}
    .QQdiv2 li img{width:38px}
</style>
<div class="QQDiv1">
    <div class="QQdiv2">
        <ul>
            <li style="background-color:#ffab54;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=993900778&site=qq&menu=yes">
                    <img src="home/img/QQ.svg">  <p>QQ咨询</p> 
                </a>
            </li>
            <li style="background-color:#7fcdef;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=993900778&site=qq&menu=yes">
                    <img src="home/img/QQ.svg">  <p>QQ咨询</p> 
                </a>
            </li>
            <li style="background-color:#ffab54;">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=993900778&site=qq&menu=yes">
                    <img src="home/img/QQ.svg">  <p>QQ咨询</p> 
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- qq客服 结束 -->





<script src="home/js/jquery.min.js"></script>
<script src="home/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //自动播放
    // $('.carousel').carousel({
    //   interval: 10000
    // })

    $("#back-to-top").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });
    



</script>
</body>
</html>
