<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>极云天下 - <?php echo $system['seotitle'];?></title>
    <base href="<?php echo base_url('public/');?>" target="">
    <link rel="stylesheet" href="home/css/xiaoniao/home.min.css?v=4392">
    <link href="home/css/bootstrap.min.css" rel="stylesheet">
    <link href="home/css/main.css" rel="stylesheet">
    <link href="home/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="<?php echo base_url('public/');?>home/js/html5shiv.js"></script>
    <script src="<?php echo base_url('public/');?>home/js/respond.min.js"></script>
    <![endif]-->
    <style>
    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 0px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .navbar-right{margin-top: 12px}
    .navbar-brand>img{height: 58px;margin-top: 5px;}
    .navbar-right li a{font-size: 15px}
    /* .yingcang{display: none;} */
    .carousel-indicators .active{
        width: 28px;
        height: 2px;
        margin: 0;
        background-color: #13abe4;
    }
    .carousel-indicators li{
        width: 28px;
        height: 2px;
        margin: 0;
        background-color: #fff;
        border: none;
        margin: 0 5px;
    }
    .width200{background: none}
    .programBtn{
        display: none;
    }
    .advantage img{
        width: 15% !important;
    }
    .col-md-35{
        width: 20%;
    }
    </style>
    
</head>
<body>
    

    <!-- 头部导航栏 -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <?php if(empty($system['logo'])):?>
          <a class="navbar-brand" href="<?php echo site_url('/');?>"  alt="">极云天下</a>
          <?php else:?>
            <a class="navbar-brand" href="<?php echo site_url('/');?>"  alt=""><img src="<?php echo base_url().$system['logo'];?>"></a>

          <?php endif;?>
        </div>
        <!-- 导航 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="<?php echo site_url('/');?>#price">产品</a></li> -->
            <li ><a href="<?php echo site_url('/');?>">首页</a></li>
            <li class="dropdown navidc">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    IDC产品<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/tuoguan');?>">服务器托管</a></li>
                    <li><a href="<?php echo site_url('Welcome/zuyong');?>">服务器租用</a></li>
                    <li><a href="<?php echo site_url('Welcome/jigui');?>">机柜租赁</a></li>
                    <li><a href="<?php echo site_url('Welcome/dakuandai');?>">大带宽业务</a></li>
                </ul>
            </li>
            <li class="dropdown navyun">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    云服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a>腾讯云</a></li>
                </ul>
            </li>
            <li class="dropdown navhaiwai">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    海外服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">美国服务器</a></li>
                    <li><a href="#">香港服务器</a></li>
                    <li><a href="#">韩国服务器</a></li>
                    <li><a href="#">日本服务器</a></li>
                    <li><a href="#">新加坡服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navgaofang">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    高防服务器<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">DDOS高防IP</a></li>
                    <li><a href="#">高防服务器</a></li>
                </ul>
            </li>
            <li class="dropdown navshuju">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    数据中心<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/dataDetail0');?>">温江多线数据中心</a></li>
                    <li><a href="#">中国西部数据中心</a></li>
                    <li><a href="#">二枢纽数据中心</a></li>
                    <li><a href="#">光华电信数据中心</a></li>
                    <li><a href="#">万达数据中心</a></li>
                    <li><a href="#">香港数据中心</a></li>
                    <li><a href="#">美国数据中心</a></li>
                </ul>
            </li>
            <li class="dropdown navfuwu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    服务支持<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/yunwei');?>">运维服务</a></li>
                    <li><a href="<?php echo site_url('Welcome/beian');?>">免费备案</a></li>
                    <li><a href="<?php echo site_url('Welcome/jishu');?>">技术支持</a></li>
                </ul>
            </li>
            <li class="dropdown navwomen">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    关于我们<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo site_url('Welcome/about');?>#jianjie">公司简介</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#wenhua">公司文化</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#lilian">经营理念</a></li>
                    <li><a href="<?php echo site_url('Welcome/about');?>#women">联系我们</a></li>
                </ul>
            </li>

            <!-- <li ><a href="<?php echo site_url('/');?>#programme">解决方案</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#case">案例</a></li> -->
            <!-- <li><a href="<?php echo site_url('/');?>#dynamic">最新动态</a></li> -->

          </ul>
        </div>
        <!-- 导航 结束-->
      </div>
    </nav>
    <!-- 轮播图 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <?php foreach($banner as $k=>$v):?>
        <li data-target="#carousel-example-generic" data-slide-to="<?php echo $k;?>" <?php if($k == 0){echo 'class="active"';}?> ></li>
        <?php endforeach;?>
        <!-- <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>  -->
      </ol>
      <div class="carousel-inner" role="listbox">

    <?php foreach($banner as $k=>$v):?>
        <div class="item <?php if($k== '0'){echo "active";}?>">
          <img src="../<?php echo $v['banner_pic']?>" data-holder-rendered="true">
        </div>
    <?php endforeach;?>
         <!-- <div class="item active">
          <img src="<?php echo base_url('public/');?>home/img/banner.png" data-holder-rendered="true">
        </div>
        <div class="item">
          <img src="<?php echo base_url('public/');?>home/img/banner.png" data-holder-rendered="true">
        </div>  -->
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    

    <section id="price">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h2><b style="font-weight: 500">基础产品</b>满足您的一切所需</h2>
                    <p class="yingcang">计算、存储、监控、安全，完善的云产品满足您的一切所需</p>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1">服务器托管</span>
                        <img class="priceLogo" src="home/img/fuwuqi.svg">
                        <p>安全软硬件设备 <br>保障设备及其数据安全</p>
                        <div>
                            <a href="<?php echo site_url('Welcome/tuoguan');?>">
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1">服务器租用</span>
                        <img class="priceLogo" src="home/img/fuwuanquan.svg">
                        <p>安全软硬件设备 <br>保障设备及其数据安全</p>
                        <div>
                            <a href="<?php echo site_url('Welcome/zuyong');?>">
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1">云服务器</span>
                        <img class="priceLogo" src="home/img/yunfuwuqi.svg">
                        <p>安全软硬件设备 <br>保障设备及其数据安全</p>
                        <div>
                            <a >
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1">海外服务器</span>
                        <img class="priceLogo" src="home/img/haiwai.svg">
                        <p>安全软硬件设备 <br>保障设备及其数据安全</p>
                        <div>
                            <a>
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1">高防服务器</span>
                        <img class="priceLogo" src="home/img/fuwuanquan.svg">
                        <p>安全软硬件设备 <br>保障设备及其数据安全</p>
                        <div>
                            <a>
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="text-center wow animated fadeInDown animated tuijianJ" style="visibility: visible; animation-name: fadeInDown;">
                   精品推荐
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1 span111">IU 托管</span>
                        <b class="jiaqian"> <b>4500</b> 元/年 </b>
                        <div>
                            <a href="<?php echo site_url('Welcome/tuoguan');?>">
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1 span111">服务器租用</span>
                        <b class="jiaqian"> <b>5800</b> 元/年 </b>
                        <div>
                            <a href="<?php echo site_url('Welcome/zuyong');?>">
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1 span111">三线宽带</span>
                        <b class="jiaqian"> <b>100M</b>独享 </b>
                        <div>
                            <a >
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1 span111">云服务器</span>
                        <b class="jiaqian"> <b>68</b> 元/月 </b>
                        <div>
                            <a>
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a> 
                        </div>
                    </div>
                </div>

                <div class="col-md-35 col-md-3 wow animated fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="price-table text-center">
                        <span class="span1 span111">香港服务器</span>
                        <b class="jiaqian"> <b>4800</b> 元/年 </b>
                        <div>
                            <a>
                                <button type="button" class="btn btn-default">查看详情</button>
                            </a>    
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--优势栅格布局-->

<div class="width200">
    <div class="container summary">
        <h3 class="myTitle" style="text-align: center;  margin:0% 0 5% 0;padding-top: 5%">我们的<span>优势</span>
            <!-- <div class="yingcang">我们以行业需求切入云计算领域，化繁为简，助你轻松实现云端部署</div> -->
        </h3>
        <div class="row">
            <div class="col-md-3 advantage">
                <img  style="width: 13%" src="home/img/you1.png">
                <h2>高安全</h2>
                <p>机房配备各种 <br> 安全软硬件设备，保障设备及其数据安全</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 11%" src="home/img/you2.png">
                <h2>高可靠</h2>
                <p>完善的辅助设施 <br>电力持续供应保证99.99%</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 12.5%" src="home/img/you3.png">
                <h2>高稳定</h2>
                <p>机房网络线路 <br> 直连省出口，稳定安全</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 12.5%" src="home/img/you4.png">
                <h2>高效率</h2>
                <p>优越的机房环境 <br>保证设备稳定高效运转</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 advantage">
                <img  style="width: 18% !important;" src="home/img/you5.png">
                <h2 style="margin-top: 3%;">全球化</h2>
                <p>和全球多地运营 <br> 商机房合作，满足各种业务类型需求</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 11%" src="home/img/you6.png">
                <h2>品质保证</h2>
                <p>提供高品质 <br> 低价格的优质产品</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 12.5%" src="home/img/you7.png">
                <h2>高性能</h2>
                <p>高品质数据中心 <br> 性能保证</p>
            </div>
            <div class="col-md-3 advantage">
                <img style="width: 12.5%" src="home/img/you8.png">
                <h2>实时快速响应</h2>
                <p>提供免费的实时监控<br>，在客户发现问题前响应并解决</p>
            </div>
        </div>
    </div>
</div>
<div class="container summary" >
    <!-- <hr class="feature-divider"> -->

<!--特性 标签页-->
<!-- <hr class="feature-divider" id="programme"> -->
   <h3 class="myTitle" id="programme" style="text-align: center;  margin:0% 0 5% 0;padding-top: 6%">行业解决<span>方案</span>
        <div class="yingcang">针对各行业业务特性，打造个性化行业解决方案，为您提供一站式的产品与服务</div>
   </h3>
    <ul class="nav nav-tabs" id="tablists" role="tablist">
        <li role="presentation" class="active">
            <a  href="#gameF" role="tab" data-toggle="tab" aria-controls="home">游戏行业解决方案</a>
        </li>
        <li role="presentation">
            <a href="#videoF" role="tab" data-toggle="tab" aria-controls="profile" >视频行业解决方案</a>
        </li>
        <li role="presentation">
            <a href="#ElebusF" role="tab" data-toggle="tab" aria-controls="messages">电商行业解决方案</a>
        </li>
        <li role="presentation">
            <a href="#financialF" role="tab" data-toggle="tab" aria-controls="messages">金融行业解决方案</a>
        </li>
        <li role="presentation">
            <a href="#APPF" role="tab" data-toggle="tab" aria-controls="messages">移动APP解决方案</a>
        </li>
    </ul>
    <div class="tab-content" >
        <div role="tabpanel" class="tab-pane active" id="gameF">
            <div class="row feature">
                <div class="col-md-8">
                    <!-- <h2 class="feature-heading">腾讯云<span class="text-muted">使用最广的云服务</span></h2> -->
                    <p class="lead">
                        覆盖全球数据中心及网络资源,多中心布局规划,实现手游, 页游, 端游高可用架构;
                    </p>
                    <p class="lead">
                        接入负载均衡, 提供充足的机柜, 宽带, IP资源及最高性能服务器, 支持数达十万pps, Gbps级宽带的网络吞吐能力, 满足玩家在高峰期的游戏体验;
                    </p>
                    <a href="<?php echo site_url('Welcome/program');?>">
                        <button type="button" class="btn btn-default programBtn">查看详情</button>
                    </a>
                </div>
                <div class="col-md-4 fangan11" style=""><img class="feature-image img-responsive" src="home/img/youxi.svg"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="videoF">
            <div class="row feature">
                <div class="col-md-8">
                    <p class="lead">
                        全球资源布局, 实现海量视频存储;
                    </p>
                    <p class="lead">
                        全球CDN节点, 可实现直播加速, 点播加速, 上传加速, 移动加速, 点对点云传输加速等, 全方位保障视频文件快速安全传输, 带来更流畅的视频观看体验;
                    </p>
                       <a href="<?php echo site_url('Welcome/program');?>">
                    <button type="button" class="btn btn-default programBtn">查看详情</button>
                    </a>
                </div>
                <div class="col-md-4 fangan11"><img class="feature-image img-responsive" src="home/img/jianzhan.svg"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="ElebusF">
            <div class="row feature">
                <div class="col-md-8">
                    <p class="lead">
                        中港, 中美, 港美 ,等国际专线及全球BGP网络 ,实现全球快速访问 ;
                    </p>
                    <p class="lead">
                        对静态内容, 流媒体等内容, 进行全网加速 ,解决跨运营商跨网访问瓶颈, 提升用户注册, 登录 , 浏览商品, 购物结算的体验;
                    </p>
                    <a href="<?php echo site_url('Welcome/program');?>">
                        <button type="button" class="btn btn-default programBtn">查看详情</button>
                    </a>
                </div>
                <div class="col-md-4 fangan11"><img class="feature-image img-responsive" src="home/img/dianshang.svg"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="financialF">
            <div class="row feature">
                <div class="col-md-8">
                    <p class="lead">
                        全球数据中心分布, 提供全球多点备份.
                    </p>
                    <p class="lead">
                        提供按需接入方案 ,主机租用 ,私有云 ,混合云多种接入模式 ,灾备节点通过私有云与物理集群打通 ,实现异地容灾;
                    </p>
                    <a href="<?php echo site_url('Welcome/program');?>">
                        <button type="button" class="btn btn-default programBtn">查看详情</button>
                    </a>
                </div>
                <div class="col-md-4 fangan11"><img class="feature-image img-responsive" src="home/img/jingrong.svg"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="APPF">
            <div class="row feature">
                <div class="col-md-8">
                    <p class="lead">
                        智能BGP优化用户访问质量.
                    </p>
                    <p class="lead">
                        移动云应用虚拟化系统为客户提供最佳的应用性能及灵活的应用虚拟化服务，帮助客户实现手机、平板电脑等移动设备安全顺畅地访问各种应用软件。
                    </p>
                       <a href="<?php echo site_url('Welcome/program');?>">
                    <button type="button" class="btn btn-default programBtn">查看详情</button>
                    </a>
                </div>
                <div class="col-md-4 fangan11" ><img class="feature-image img-responsive" src="home/img/appF.svg"></div>
            </div>
        </div>
    </div>
    

</div><!-- contain -->



<!-- 案例 -->
<div class="width300" id="case">
    <div class="container caseList">
        <h3 class="myTitle" style="text-align: center;  margin:0% 0 4% 0;padding-top: 6%"><span>合作伙伴</span>
            <div>致力于帮助合作伙伴及用户构建成功的业务实践和解决方案</div>
       </h3>
        <div class="row">
            <?php foreach($parnter as $val):?>
            <div class="col-md-2 col-xs-4"><img src="../<?php echo $val['logo'];?>" alt="<?php echo $val['name'];?>"></div>
            <?php endforeach;?>
            </div>
    </div>
</div>

<!-- 新闻栅格系统  -->
<div class="container newList" id="dynamic" style="padding: 0;">
    <hr class="feature-divider">
    <div class="row">
        <?php foreach($news as $val):?>
        <div class="col-md-4">
            <div class="newDiv">
                <p><b><?php echo mb_substr($val['cate_name'],0,'2');?> <br><?php echo mb_substr($val['cate_name'],2);?></b> </p>
                <img class="imgN" src="home/img/ff.png">
            </div>
            <?php if(!empty($val['news'])):?>
                <?php foreach($val['news'] as $v):?>
                <p class="PN">
                    <a href="<?php echo site_url('Welcome/news_content/').$v['news_id'];?>">
                        <b>【<?php echo date('m-d',strtotime($v['create_time']));?>】</b><?php echo $v['title'];?>
                    </a>
                </p>
                <?php endforeach;;?>
            <?php else:?>
            <p>暂无新闻内容！</p>
            <?php endif;?>

        </div>
        <?php endforeach;?>
        <!-- <div class="col-md-4">
            <div class="newDiv">
                <p><b>产品 <br> 更新</b> </p>
                <img class="imgN" src="home/img/ff.png">
            </div>

            <p class="PN"><b>【04-17】</b>中华人民共和国网络安全法，中华人民共和国网络安全法</p>
            <p class="PN"><b>【04-17】</b>Windows系统高危漏洞预警公告</p>
            <p class="PN"><b>【04-17】</b>关于清理虚假用户的通知</p>
        </div>
        <div class="col-md-4">
            <div class="newDiv">
                <p><b>安全 <br> 资讯</b> </p>
                <img class="imgN" src="home/img/ff.png">
            </div>

            <p class="PN"><b>【04-17】</b>中华人民共和国网络安全法，中华人民共和国网络安全法</p>
            <p class="PN"><b>【04-17】</b>Windows系统高危漏洞预警公告</p>
            <p class="PN"><b>【04-17】</b>关于清理虚假用户的通知</p>
        </div> -->
    </div>
</div>
<script>
    var fadeInUp = document.getElementsByClassName('fadeInUp');
    [].forEach.call(fadeInUp, function(ele,index) {
        ele.onmouseover = function(){
            if (!ele.className.includes('fadeInUpActive')) {//不包含
                [].forEach.call(fadeInUp, function(ele,index) {
                   ele.className = ele.className.replace('fadeInUpActive ',' ');
                });
                ele.className += ' fadeInUpActive ';

            }
        }
        ele.onmouseout = function(){
            this.className = this.className.replace('fadeInUpActive ',' ');
        }
    });
</script>
