<html>
<head lang="en"><script async="" src="https://qzs.qq.com/qzone/biz/res/gt.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>解决方案</title>
    <meta name="keywords" content="网站解决方案">
    <meta name="description" content="">
    

    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/common/common/common.min.css?v=87e8a6"> -->
    <link rel="stylesheet" href="<?php echo base_url('public/')?>home/css/xiaoniao/common.min.css?v=87e8a6">

    <!-- <script async="" src="https://www.google-analytics.com/analytics.js"></script> -->
    <!-- <script src="https://hm.baidu.com/hm.js?955a83d7d9f7b44dd42603c97df61d56"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script type="text/javascript">
        window.jQuery || document.write('<script type="text/javascript" src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/lib/framework/jquery.min.js">\x3C/script>')
    </script> -->
    <!-- <script src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/lib/plugin/jQuery/jquery.cookie.js"></script> -->
    <script src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/js/common/public.js?v=87e8a6"></script>
    <!--[if lte IE 9]>
    <script src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/lib/browser/PIE.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <script charset="utf-8">
        $(function () {
            $("a").attr("hidefocus", true);
        });
    </script>
    <![endif]-->
    <!-- <link rel="stylesheet" href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/common/module/solutions/solutions.css?v=900"> -->

    <link href="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/solutions/website.css?v=900" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="css/xiaoniao/website.css?v=900"> -->

    <script src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/js/plugin/xnyFreeScroll.js"></script>
    <script src="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/js/module/solutions/website.js?v=18600"></script>

    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?955a83d7d9f7b44dd42603c97df61d56";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74698613-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>
    <link href="<?php echo base_url('public/')?>home/css/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo base_url('public/')?>home/css/index.css" rel="stylesheet">
    <link href="<?php echo base_url('public/')?>home/css/articleDetails.css" rel="stylesheet">
    <link href="<?php echo base_url('public/')?>home/css/program.css" rel="stylesheet">
</head>

<body>
<!-- 头部导航栏 -->
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<?php echo site_url('/')?>">
      <img src="<?php echo base_url().$system['logo'];?>" alt=""></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<?php echo site_url('/')?>#price">产品</a></li>
        <li style="display: none;"><a href="<?php echo site_url('/')?>#programme">解决方案</a></li>
        <li><a href="<?php echo site_url('/')?>#case">案例</a></li>
        <li><a href="<?php echo site_url('/')?>#dynamic">最新动态</a></li>
        <li><a href="<?php echo site_url('/')?>#footer">关于我们</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--头部banner 开始-->
<div class="info-banner">
    <div class="auto">
        <div class="web-banner">
            <p class="web-name">网站解决方案</p>
            <p class="web-info">专业构架 轻松快捷解决互联网建站问题</p>
        </div>
    </div>
</div>
<base href="<?php echo base_url('public/');?>">
<div class="width200">
    <div class="container summary">
        <h3 class="myTitle" style="text-align: center;  margin:0% 0 6% 0;padding-top: 3%">网站部署面临的问题<span></span>
            <!-- <div>我们以行业需求切入云计算领域，化繁为简，助你轻松实现云端部署</div> -->
        </h3>
        <div class="row">
            <div class="col-md-4 advantage">
                <img  style="width: 11%" src="home/img/fuwuqi.svg">
                <h2>DDOS攻击</h2>
                <p>如果用户顺利部署了网站在云服务器上，如何保障网站安全稳定的运行，是所有网站管理者都关心的问题。但是如果自行搭建安全体系往往会让成本成倍的增长，而且很复杂。无疑给用户带来更大的成本以及时间压力。</p>
            </div>
            <div class="col-md-4 advantage">
                <img style="width: 11%" src="home/img/fuwuqi.svg">
                <h2>数据备份</h2>
                <p>随着网站的发展，积累的数据越来越多，比如静态文件（代码、图片等）和数据库数据。如果需要用户实时自行备份，那所花费的时间以及精力无疑也会成倍的增长。所以解决如何解决数据备份又是企业以及开发者面临的问题之一！</p>
            </div>
            <div class="col-md-4 advantage">
                <img style="width: 11%" src="home/img/fuwuqi.svg">
                <h2>I/O读写</h2>
                <p>大部分网站都属于交互型网站，速度快，能让多处理器的性能发挥出来。当前技术条件下，I/O是系统性能提高的瓶颈，I/O问题没有解决好， 处理器数量增加不一定带来性能的提升，新增资源有可能被I/O全部消耗掉。</p>
            </div>

        </div>
    </div>
</div>  
<!--头部banner 结束-->
<!--解决方案构架部署 开始-->
<div class="container jiagou">
    <h3 class="myTitle" style="text-align: center;  margin:0% 0 6% 0;padding-top: 3%">解决方案构架部署<span></span>
        <!-- <div>我们以行业需求切入云计算领域，化繁为简，助你轻松实现云端部署</div> -->
    </h3>
    <div class="row">
        <div class="col-md-8">
            <img src="home/img/deploy_img.jpg">
        </div>
        <div class="col-md-4">
            <p>极云网站解决方案为企业以及开发者用户实现灵活弹性自动化的基础IT设施建设、 按需付费的服务模式以及0成本的运维IT服务体系。 把传统的IDC数据中心改造成了一个高度简化、标准化、自动化和弹性灵活的云数据中心。使得企业以及开发者的IT支撑系统从“成本中心”而转型成为推动企业核心业务不断发展的引擎。</p>
        </div>
    </div>
</div>

<!--网站服务优势 开始-->
<div class="web-issue web-superiority" style="display: none;">
    <div class="auto">
        <p class="issue-title">网站服务优势</p>
        <div class="auto">
            <div class="superiority-outside">
                <div class="superiority-limit">
                    <span class="superiority-span superiority-left"></span>
                    <span class="superiority-span superiority-right"></span>
                    <div class="superiority-box">
                        <ul class="superiority-list clearfix scroll-main"><li class="scroll-item" data-index="0" style="left: 0px;">
                                <a>
                                    <div class="issue-form">
                                        <div class="issue-centen">
                                            <span class="span_bg1"></span>
                                            <p class="issue-centen-title">弹性扩展</p>
                                            <p class="youshi1">高效便捷</p>
                                            <p class="youshi1">节约成本</p>
                                        </div>
                                    </div>
                                    <div class="issue-back">
                                        <p>当网站用户在面对云服务器配置选型的问题时，极云针对网站用户个性的配置选择需求、同时可临时资源扩展的诉求，支持产品随时随地秒级扩展IT资源，轻松解决配置选型问题，高效便捷，节约成本。</p>
                                    </div>
                                </a>
                            </li><li class="scroll-item" data-index="1" style="left: 370px;">
                                <a>
                                    <div class="issue-form">
                                        <div class="issue-centen">
                                            <span class="span_bg2"></span>
                                            <p class="issue-centen-title">全景备份</p>
                                            <p class="youshi1">保证数据安全</p>
                                            <p class="youshi1">降低备份成本</p>
                                        </div>
                                    </div>
                                    <div class="issue-back">
                                        <p>针对网站用户面临的备份问题，极云推出高效便捷的实时全景备份/全景恢复功能。用户可以自定义备份事件，通过控制台一键备份，使数据安全在得到最大的保证的同时，降低用户备份成本。</p>
                                    </div>
                                </a>
                            </li><li class="scroll-item" data-index="2" style="left: 740px;">
                                <a>
                                    <div class="issue-form">
                                        <div class="issue-centen">
                                            <span class="span_bg3"></span>
                                            <p class="issue-centen-title">自带防御</p>
                                            <p class="youshi1">解决网络安全问题</p>
                                            <p class="youshi1">网站免受攻击威胁</p>
                                        </div>
                                    </div>
                                    <div class="issue-back">
                                        <p class="p2">随着互联网的发展，DDOS、CC攻击已成为非常普遍的攻击模式。网站安全稳定运行成为了每个用户的愿望！极云网站解决方案，针对这一问题，各个已开放的节点自带默认防御峰值。真正从根本上解决网络安全问题，保护用户网站免受攻击威胁！</p>
                                    </div>
                                </a>
                            </li></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--网站服务优势 结束-->
<!--合作伙伴 开始-->
<div class="web-issue web-partner" style="display: none" >
    <div class="auto">
        <p class="partner-title">他们在使用腾讯云</p>
        <div class="partner-box">
            <span class="partner-box-span partner-left"></span>
            <div class="partner-single" style="position: relative; width: 678px; height: 260px; overflow: hidden;">
                <ul class="partner-list clearfix" style="position: relative; width: 9999px; height: auto; left: 0px;">
                    <li class="par_bg par_bg3" data-url="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/solutions/img/wpartner_hover_03.png" data-text="28推成立于2010年11月11日，由知名网络推广专家牟长青带领28位弟子创办的网络推广论坛。是一个免费提供与网络推广、电子商务、微博营销、网络营销方面有关的资讯文章、经验交流平台。" data-title="28推" style="float: left;"></li>
                    <li class="par_bg par_bg1 active" data-url="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/solutions/img/wpartner_hover_02.png" data-text="&quot;推一把&quot;，是一个免费提供与网络推广、网络营销方面有关的资讯文章。被业内称为“网络推广起点站”。截止到2010年11月，推一把社区的注册人数已经逾8万人，推一把目前已经成长成为该领域最大的行业网站。" data-title="推一把" style="float: left;"></li>
                    <li class="par_bg par_bg2" data-url="https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/solutions/img/wpartner_hover_01.png" data-text="搜外是SEO人才的聚居地，在搜外你能学到各种各样的SEO技能，夫唯通过对SEO的深入研究，建立搜外，并把搜外建立的如此出色，越来越多的人知道搜外，它的影响力仍在不断扩展并逐渐深入人心。" data-title="搜外网" style="float: left;"></li>
                </ul>
            </div>
            <div class="show-single active" style="display: block; background: url(&quot;https://www.niaoyun.com/template/Home/Niaoyun/PC/Static/css/module/solutions/img/wpartner_hover_02.png&quot;);">
                <p class="text-show"><span>推一把</span></p>
            </div>
            <p class="partner-list-text" style="display: block;">"推一把"，是一个免费提供与网络推广、网络营销方面有关的资讯文章。被业内称为“网络推广起点站”。截止到2010年11月，推一把社区的注册人数已经逾8万人，推一把目前已经成长成为该领域最大的行业网站。</p>
            <span class="partner-box-span partner-right"></span>
        </div>

    </div>
</div>
<!--合作伙伴 结束-->
<!--更多方案 开始-->
<div class="web-issue">
    <div class="auto">
        <p class="more-title">更多解决方案</p>
        <ul class="more-list clearfix">
            <li>
                <a href="mobile.html">
                    <div class="more-list-01">
                        <p><span>移动云解决方案</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="game.html">
                    <div class="more-list-02">
                        <p><span>游戏云解决方案</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="ecommerce.html">
                    <div class="more-list-03">
                        <p><span>电商云解决方案</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="financial.html" class="more-list-04">
                    <div class="more-list-04">
                        <p><span>金融云解决方案</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--更多方案 结束-->
